* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: blueviolet;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
}

.todolist__layout {
  /* height: 300px; */
  max-width: 350px;
  border: 1px solid grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout__title {
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding: 6px;
}

.layout__body {
  padding: 10px;
}

.add_input {
  height: 20px;
  width: 226px;
  padding: 2px;
}

.add__btn {
  padding: 6px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 2px;
}
